/* Noto Sans, Noto Serif and Fira Mono fonts from Google Fonts change as needed */
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* These styles are not needed to make to enable the fonts and alignment styles
 * but kepe here for the sake of readability */
body {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-family: "Noto Serif", serif;
  width: 60%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
}

span.bold, span.italic, span.medium, span.monospace, span.normalfont, span.serif, span.sans, span.smallcaps, span.bf, span.it, span.md, span.tt, span.nf, span.rm, span.sf, span.sc, span.xxsmall, span.xsmall, span.small, span.normal, span.large, span.xlarge, span.xxlarge {
  color: maroon;
}

.title,
.author,
.date {
  text-align: center;
}

/* Styles for classes defined in the Lua filter are below modify
 * as required. This is needed for styling HTML documents. */
/* Font styles */
.bold,
.bf {
  font-weight: 700;
}

.italic,
.it {
  font-style: italic;
}

.medium,
.md {
  font-weight: 400;
}

.normalfont,
.nf {
  font-family: "Noto Serif", serif;
  font-style: normal;
}

.monospace,
.tt {
  font-family: "Fira Mono", monospace;
}

.sans,
.sf {
  font-family: "Noto Sans", sans-serif;
}

.serif,
.rm {
  font-family: "Noto Serif", serif;
}

.smallcaps,
.sc {
  font-variant: small-caps;
}

/* Font sizes relative to a 16px/12pt document */
.xxsmall {
  font-size: 0.75rem;
}

.xsmall {
  font-size: 0.84rem;
}

.small {
  font-size: 0.92rem;
}

.normal {
  font-size: 1rem;
}

.large {
  font-size: 1.2rem;
}

.xlarge {
  font-size: 1.44rem;
}

.xxlarge {
  font-size: 1.73em;
}

/* Layouts */
div.center, div.centering {
  text-align: center;
}
div.flushright, div.raggedleft {
  text-align: right;
}
div.flushleft, div.raggedright {
  text-align: left;
}
