/* Noto Sans, Noto Serif and Fira Mono fonts from Google change as needed */
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* The below styles are not defined in fonts and alignment filter
 * but are kept here to ease the readability of the rendered HTML content */
body {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-family: "Noto Serif", serif;
  line-height: 1.25;
  width: 60%;
}

span.bold, span.emphasis, span.italic, span.lower, span.medium, span.monospace, span.normalfont, span.sans, span.serif, span.slanted, span.smallcaps, span.upper, span.upright, span.bf, span.em, span.it, span.md, span.tt, span.nf, span.sf, span.rm, span.sl, span.sc, span.up, span.tiny, span.xxsmall, span.xsmall, span.small, span.normal, span.large, span.xlarge, span.xxlarge, span.huge {
  color: maroon;
}

.title,
.author,
.date {
  text-align: center;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* The styles below are for the classes defined in the fonts and alignment
 * Lua filter. Modify them as required to style the HTML document. */
/* Font styles */
.bold,
.bf {
  font-weight: 700;
}

.emphasis,
.italic,
.it,
.slanted,
.sl {
  font-style: italic;
}

.lower {
  text-transform: lowercase;
}

.medium,
.md {
  font-weight: 400;
}

.normalfont,
.nf,
.upright,
.up {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: 400;
}

.monospace,
.tt {
  font-family: "Fira Mono", monospace;
}

.sans,
.sf {
  font-family: "Noto Sans", sans-serif;
}

.serif,
.rm {
  font-family: "Noto Serif", serif;
}

.smallcaps,
.sc {
  font-variant: small-caps;
}

.upper {
  text-transform: uppercase;
}

/* Font sizes relative to a 16px/12pt document */
.tiny {
  font-size: 0.5rem;
}

.xxsmall {
  font-size: 0.6666666667rem;
}

.xsmall {
  font-size: 0.8333333333rem;
}

.small {
  font-size: 0.9125rem;
}

.normal {
  font-size: 1rem;
}

.large {
  font-size: 1.2rem;
}

.xlarge {
  font-size: 1.44rem;
}

.xxlarge {
  font-size: 1.7283333333rem;
}

.huge {
  font-size: 2.0733333333rem;
}

/* Layouts */
div.center, div.centering {
  text-align: center;
}
div.flushright, div.raggedleft {
  text-align: right;
}
div.flushleft, div.raggedright {
  text-align: left;
}

/* Underline Styles */
span.dashuline, span.dau {
  text-decoration: underline dashed;
}
span.dotuline, span.dou {
  text-decoration: underline dotted;
}
span.uline, span.u {
  text-decoration: underline;
}
span.uuline, span.uu {
  text-decoration: underline double;
}
span.uwave, span.uw {
  text-decoration: underline wavy;
}
span.sout, span.so {
  text-decoration: line-through;
}
